body {
    background: url('Images/.jpg') no-repeat;
    
}


a {
 display: block;   
}


.hej {
    
    
    font-size: 20px;
    text-align: center;
    margin: 3em;
    
}

.footer {
 background-color: darkgrey;   
 height: 200px;
 margin-top: 3em;
}

    
.forest {
    background: url('Images/forest.jpg') no-repeat;
    background-size: 100%;
    height: 14em;

}

.rainy {
    background: url('Images/rainy.jpg') no-repeat;
    background-size: 100%;
    height: 14em;

}

.tropical {
    background: url('Images/tropical.jpg') no-repeat;
    background-size: 100%;
    height: 14em;

}